$accent:rgb(255, 87, 31);
.App{
  height: 100%;
  display:flex;
  flex-direction: column;
  position: relative;

  .top_bar{
    background-color: $accent;
    display: flex;
    flex-shrink: 0;
    height: 40px;
    font-size: 30px;
    font-weight: 900;
    padding: 0 20px;
    .title{
      margin-right: auto;
      span{
        color:white;
      }
    }
    .timer{
      display: flex;
      margin-right: auto;
      align-items: baseline;
      .seconds{
        font-size: 20px;
        font-weight: 700;
        color:white
      }
    }
    .characters{
      display: flex;
      align-items:end;
      gap: 14px;
      .text{
        color:white;
      }
      img{
        height: 35px;
      }
    }
  }
  .cont{
    flex-grow: 1;
    overflow: scroll;
    position: relative;
    .options{
      position: absolute;
      top:0;
      background-color: #fff;
      border-radius: 10px;
      border: 1px solid $accent;
      text-align: center;
      overflow: hidden;
      font-weight:700 ;
      div:not(:last-child){
        border-bottom: 1px solid grey;
      }
      div{
        padding: 5px;
        cursor: pointer;
        display: flex;
        align-items:center;
        gap:5px;
        img{
          height:30px;
          margin-right: auto;
        }
      }
      div:hover{
        background-color: $accent;
        color: white;
      }
    }
  }
  .lboard_layout, .score_layout{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content:center;

    .wrapper{
      background-color: #fff;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      border-radius: 10px;
      gap:0.5rem;
      font-weight: 900;
      box-shadow: 0 0 15px 5px $accent;
      .lboard{
        .players{
          font-weight: 400;
        }
      }
      .user_rank{
        #user_rank{
          font-weight: 400;
        }
      }
      button{
        width: fit-content;
        align-self: end;
        border: none;
        background-color: $accent;
        border-radius: 10px;
        font-weight: 900;
        padding:5px 10px;
        letter-spacing: 0.1em;
        &:hover{
          cursor: pointer;
          color:white;
        }
      }
    }
  }
}